= simple_form_for @post, html: { class: 'form-horizontal'} do |f|
  .row
    .col-xs-5
      = f.input :title
    .col-xs-5.col-xs-offset-1
      = f.input :slug
  .row
    .col-xs-12
      = f.input :tag_list
  .row
    .col-xs-12.text-center
      = button_tag 'PICTURES', type: :button, data: { toggle: 'modal', target: '#pictures_modal'}
  .row
    .col-xs-5
      = f.input :text
      %div#post_text_editor
      %button.btn.btn-info.btn-raised.pull-right{type: :button, name: :render}
        RENDER
        %i.fa.fa-arrow-right
    .col-xs-7#post_preview
      %h4.text-muted Preview:
      %article#post_preview_text
  .row
    .col-xs-12.text-center
      = f.submit (action_name == 'new' ? 'CREATE' : 'UPDATE'), class: 'btn btn-primary'

= javascript_include_tag 'ace/ace'
= javascript_include_tag 'ace/mode-markdown'
= javascript_include_tag 'posts'
.modal.fade#pictures_modal
  .modal-dialog
    .modal-content
      .modal-header
        &nbsp;
        = button_tag "", type: :button, class: 'close', data: { dismiss: 'modal' } do
          %span &times;
      .modal-body
        = render template: 'pictures/index', layout: false
