.col-xs-12.col-md-8.col-md-offset-1.well.jumbo-card
  %ul.list-group.posts
    - @posts.each_with_index do |post, i|
      %li.list-group-item
        .row-content
          .pull-right.btn-group-vertical
            - if admin?
              %a.btn.btn-info{href: edit_post_path(post), title: 'edit'}
                EDIT
          .col-xs-offset-0.col-sm-offset-1
            %h3.list-group-item-heading
              = link_to post.title, post_path(post)
            .list-group-item-text
              %span.text-muted
                %small= post.created_at.strftime('%-d %b, %Y')
                &nbsp;
                &nbsp;
                %small!= post.tags
            %p.list-group-item-text
              %p!= post.summary
            %p.list-group-item-text
              %span.comments-count
                Comments:
                = post.comments.count
      - unless i == @posts.size - 1
        %li.list-group-separator
  = will_paginate @posts, page_links: false, previous_label: 'Newer', next_label: 'Older', class: 'pager'

%aside.col-xs-12.col-md-3
  %br/
  %section.row#tags
    .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2.text-center
      %h4.text-primary Tags
      %ul.list-unstyled.tags
        - @tags.each do |tg|
          %li
            %a.label{href: tagged_posts_path(tag: tg)}= tg

  %br/

  = render partial: 'layouts/search'

- content_for :page_heading do
  %hgroup.row
    .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
      %h1= t "posts.scopes.#{params[:scope]}", params.except(:scope)
      - if params[:scope].to_s == 'search'
        %h2 Query: "#{params[:query] || '<empty>'}"
        %br/

- content_for :title do
  = raw "#{t "posts.scopes.#{params[:scope]}", params.except(:scope)} | Caffeine Driven Devel"

- if admin?
  - content_for :action do
    %a.btn.btn-success.btn-fab{ href: new_post_path }
      %i.material-icons note_add
