.row
  .col-xs-12.col-md-8.col-md-offset-2.well
    %ul.list-group
      - @posts.each_with_index do |post, i|
        %li.list-group-item
          .row-picture
            = post_thumb(post)
          .row-content
            .pull-right.btn-group-vertical
              %a.btn.btn-primary{href: post_path(post)} READ
              - if admin?
                %a.btn.btn-info{href: edit_post_path(post), title: 'edit'}
                  EDIT
            %h3.list-group-item-heading= post.title
            %p.list-group-item-text
              - post.tag_list.each do |t|
                %span.label.label-default= t
            %p.list-group-item-text
              %p!= find_and_preserve(render_post_text post.summary)
        - unless i == @posts.size - 1
          %li.list-group-separator



  %aside.col-xs-12.col-md-2
    %br/
    %section.row#tags
      .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2.text-center
        %h4.text-primary Tags
        %ul.list-unstyled
          - @tags.each do |tag|
            %li
              %span.label.label-default= tag

- content_for :page_heading do
  %hgroup.row
    .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
      %h1 Recent posts

- content_for :action do
  %a.btn.btn-success.btn-fab{ href: new_post_path }
    %i.material-icons note_add
