- content_for :page_heading do
  .row.text-center
    %h1 About

- content_for :title do
  = raw "About | Caffeine Driven Devel"

- content_for :meta_description do
  What's going on here. About author. Contacts.

- content_for :action do
  %a.btn.btn-info.btn-fab{href: new_contact_path, title: 'Contact Me'}
    %i.material-icons person

.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
  .well.jumbo-card
    %section
      %h2 This website
      %p
        is mainly a blog about backend development and administration. It's also my personal sandbox
        and portfolio. I hope it will be as much useful for the reader as it helps me to become a
        better developer.
    %section
      %h2 Me
      %p Hello. My name is Andrew. I am web developer/software engineer specializing in Ruby backend development.
      %p <strong>Current job:</strong> software engineer at JSC &laquo;Vega&raquo;.
      %p <strong>Current location:</strong> Moscow, Russian Federation.
      %p <strong>Education:</strong> Moscow Technological Univesity (MIREA), Bachelor's degree, IT.
      %p <strong>Status:</strong> open for job offers.
    %section
      %h2 Contacts
      %ul.list-unstyled.list-inline
        %li
          = link_to 'https://www.linkedin.com/in/andrew-dorofeyev-807586b4', class: 'btn btn-primary btn-fab btn-fab-mini', target: '_blank', rel: 'nofollow noindex noopener' do
            %i.socicon.socicon-linkedin
        %li
          = link_to 'https://github.com/d-theus', class: 'btn btn-primary btn-fab btn-fab-mini', target: '_blank', rel: 'nofollow noindex noopener' do
            %i.socicon.socicon-github
        %li
          = link_to 'https://www.facebook.com/profile.php?id=100009998048390', class: 'btn btn-primary btn-fab btn-fab-mini', target: '_blank', rel: 'nofollow noindex noopener' do
            %i.socicon.socicon-facebook
        %li
          = link_to 'mailto:slma0x02@gmail.com', class: 'btn btn-primary btn-fab', class: 'btn btn-primary btn-fab btn-fab-mini' do
            %i.material-icons email

    %section
      %h2 Skills
      %h3 Scales
      %p.text-muted
        I define the following scales this way:
        .row
          .col-xs-8.col-xs-offset-1.col-sm-offset-2.xs-ladder
            .col-xs-1.col-xs-pull-1 nothing
            .col-xs-1 concepts
            .col-xs-1.col-xs-push-1 basic&nbsp;stuff
            .col-xs-2.col-xs-push-2 experienced
            .col-xs-2.col-xs-push-3 advanced
            .col-xs-2.col-xs-push-4 expert
        .row
          .col-xs-10.col-xs-offset-1
            .progress
              .progress-bar.progress-bar-default(style="width: 20%")
              .progress-bar.progress-bar-warning(style="width: 20%")
              .progress-bar.progress-bar-info(style="width: 20%")
              .progress-bar.progress-bar-success(style="width: 20%")
              .progress-bar.progress-bar-primary(style="width: 20%")
      .row
        .col-xs-12
          %h3 Programming languages
          %p.row
            .col-xs-2.text-right
              Ruby
            .col-xs-9.col-md-7
              .progress
                .progress-bar.progress-bar-info(style="width: 70%")
          %p.row
            .col-xs-2.text-right
              Javascript/Coffeescript
            .col-xs-9.col-md-7
              .progress
                .progress-bar.progress-bar-info(style="width: 50%")
          %p.row
            .col-xs-2.text-right
              C/C++
            .col-xs-9.col-md-7
              .progress
                .progress-bar.progress-bar-info(style="width: 50%")
          %p.row
            .col-xs-2.text-right
              Haskell
            .col-xs-9.col-md-7
              .progress
                .progress-bar.progress-bar-info(style="width: 30%")
      .row
        .col-xs-12
          %h3 Frameworks &amp; Libraries
          %p.row
            .col-xs-2.text-right
              Ruby on Rails
            .col-xs-9.col-md-7
              .progress
                .progress-bar.progress-bar-info(style="width: 65%")
          %p.row
            .col-xs-2.text-right
              RSpec
            .col-xs-9.col-md-7
              .progress
                .progress-bar.progress-bar-info(style="width: 70%")
          %p.row
            .col-xs-2.text-right
              YARD
            .col-xs-9.col-md-7
              .progress
                .progress-bar.progress-bar-info(style="width: 70%")
          %p.row
            .col-xs-2.text-right
              AngularJS
            .col-xs-9.col-md-7
              .progress
                .progress-bar.progress-bar-info(style="width: 40%")

      .row
        .col-xs-12
          %h3 Databases
          %p.row
            .col-xs-2.text-right
              PostgreSQL
            .col-xs-9.col-md-7
              .progress
                .progress-bar.progress-bar-info(style="width: 50%")
          %p.row
            .col-xs-2.text-right
              MySQL
            .col-xs-9.col-md-7
              .progress
                .progress-bar.progress-bar-info(style="width: 30%")
          %p.row
            .col-xs-2.text-right
              Redis
            .col-xs-9.col-md-7
              .progress
                .progress-bar.progress-bar-info(style="width: 30%")

      .row
        .col-xs-12
          %h3 Configuration management / Integration / Version Control
          %p.row
            .col-xs-2.text-right
              Chef
            .col-xs-9.col-md-7
              .progress
                .progress-bar.progress-bar-info(style="width: 40%")
          %p.row
            .col-xs-2.text-right
              Capistrano
            .col-xs-9.col-md-7
              .progress
                .progress-bar.progress-bar-info(style="width: 70%")
          %p.row
            .col-xs-2.text-right
              Docker/Compose
            .col-xs-9.col-md-7
              .progress
                .progress-bar.progress-bar-info(style="width: 70%")
      .row
        .col-xs-12
          %h3 Administation (Linux: RHEL, Centos, Arch, Alt, Astra)
          %p.row
            .col-xs-2.text-right
              Initialization configuration (e.g. systemd, initd)
            .col-xs-9.col-md-7
              .progress
                .progress-bar.progress-bar-info(style="width: 80%")
          %p.row
            .col-xs-2.text-right
              Installing, deployment, initial configuration
            .col-xs-9.col-md-7
              .progress
                .progress-bar.progress-bar-info(style="width: 90%")
          %p.row
            .col-xs-2.text-right
              Security
            .col-xs-9.col-md-7
              .progress
                .progress-bar.progress-bar-info(style="width: 70%")
          %p.row
            .col-xs-2.text-right
              Scripting, utilities
            .col-xs-9.col-md-7
              .progress
                .progress-bar.progress-bar-info(style="width: 70%")
          %p.row
            .col-xs-2.text-right
              Nginx
            .col-xs-9.col-md-7
              .progress
                .progress-bar.progress-bar-info(style="width: 60%")
          %p.row
            .col-xs-2.text-right
              Fluentd
            .col-xs-9.col-md-7
              .progress
                .progress-bar.progress-bar-info(style="width: 60%")

      %section
        %h2 Experience and achievments

        %h3= link_to 'magic-ice.org', 'https://magic-ice.org', target: '_blank', rel: 'nofollow noindex noopener'
        %p
          Simple website for ice skating school. Design, Code, Deployment, Speed optimization, SEO. Recently dockerized it.
          Here I used RoR + Nginx as back-end and PostgreSQL as DB.

        %h3= link_to 'www.homemade-msk.ru', 'https://www.homemade-msk.ru', target: '_blank', rel: 'nofollow noindex noopener'
        %p
          This guys sell weekly meals packs. The site uses Dockerized RoR + Nginx + PG + Postfix. Orders, managing recipes,
          weekly mailing. There was also some image processing (ImageMagick, CarrierWave), svg optimization, image scaling
          for page speed (here I worked heavily on load time).

        %h3= link_to 'www.mercedes177.ru', 'https://www.mercedes177.ru', target: '_blank', rel: 'nofollow noindex noopener'
        %p
          Mercedes automobile parts store. It's a bit... clunky in terms of design, but that's what client wanted.
          Speaking technically, here I used RoR + Nginx as back-end, AngularJS as front-end, PostgreSQL as DB. There
          is also some fancy image processing with ImageMagick (CarrierWawe and MiniMagic gems).

        %h3 Dockerized my workflow
        %p
          Docker is extremely useful tool. With it, I unified my application's stacks, so I can deploy
          a new server with nginx, rails and pg installed, enabled fluentd logging in just a few minutes.
        %p Here are some of my Dockerfiles:
        %ul.list-unstyled
          %li= link_to 'rails', 'https://github.com/d-theus/rails-dockerfile'
          %li= link_to 'nginx', 'https://github.com/d-theus/nginx-dockerfile'
          %li= link_to 'postfix', 'https://github.com/d-theus/postfix-dockerfile'

        %h3= link_to 'vncrec', 'https://github.com/d-theus/vncrec-ruby', target: '_blank', rel: 'nofollow noindex noopener'
        %p
          Gem created for recording VNC sessions using plain raw format or ffmpeg encoding.
          Native VNC stream decoding procedures. Currently this solution works for registration
          of video data from workstations on several military objects.

        %h3= link_to 'avrsh', 'https://github.com/d-theus/avrsh', target: '_blank', rel: 'nofollow noindex noopener'
        %p
          Small and simple shell written in C using recursive descend.

        %h3= link_to 'rspec-launchbox', 'https://github.com/d-theus/rspec-launchbox', target: '_blank', rel: 'nofollow noindex noopener'
        %p
          An attempt to simplify executables testing with rspec.

    %section.text-center
      = link_to 'GET IN TOUCH', new_contact_path, class: 'btn btn-primary btn-raised'
      = link_to 'PORTFOLIO', portfolio_path, class: 'btn btn-info'
