%header.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle{ data: { toggle: 'collapse', target: '.navbar-collapse'} }
        %i.icon-bar
        %i.icon-bar
        %i.icon-bar
      = link_to posts_url, class: 'navbar-brand' do
        = image_tag 'logo.svg'
        %span.brand-line CAFFEINEDRIVENDEVEL
    .collapse.navbar-collapse#navbar_collapse
      %ul.nav.navbar-nav.navbar-right
        = nav_link 'Blog', recent_posts_url
        = nav_link 'Portfolio', portfolio_path
        = nav_link 'About', about_path
        - if admin?
          %li
            = link_to contacts_path do
              Contacts
              %sup= @contacts_count
          %li
            = link_to 'Sign Out', destroy_admin_session_path, data: { method: :delete }

